In [36]:
# create a list which contains number from 30 - 53
import pandas as pd
import numpy as np

In [37]:
# square bracket indicate that it is a list
mylist = []
for i in range(30, 54):
    mylist.append(i)
print(mylist)

[30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53]

In [38]:
# use list comprehension here:
mylist = [i for i in range (30, 54)]
print(mylist)

[30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53]

In [39]:
# to multiply each element by 5:
#mylist = [i for i in range (30, 54)]
#new_list = [i * 5 for element in mylist]
#print(new_list)
# easier is to do:
mylist = [5*i for i in range (30, 54)]
print(mylist)

[150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250, 255, 260, 265]

In [40]:
# to test if a number is odd or even: if retruns 1 , it is odd, if returns 0, it is even:
51%2

1

In [1]:
mylist = [1, 2, 3, 5, 6]
new_list = [i for i in mylist]

In [2]:
# to get the even numbers:
[i for i in mylist if i%2==0]

[2, 6]

In [3]:
# to get the odd numbers:
[i for i in mylist if i%2==1]

[1, 3, 5]

In [4]:
#Flatten a list of lists into a single list using list comprehension:
a = [[1,2,3], [4,5,6], [7,8,9]]
 
b = []
 
for i in a:
    for x in i:
        b.append(x)
 
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
#general rule: [output for item in list if cond]
# or we can write in one line:
[j for i in a for j in i]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
# we can multiply the output by any number:
[5*j for i in a for j in i]

[5, 10, 15, 20, 25, 30, 35, 40, 45]