# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np
from scipy import stats

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [67]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [64]:
#pokemon.info()

In [6]:
pokemon.isnull().sum()

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [13]:
count=pokemon.groupby('Legendary')['Legendary'].count()
count

Legendary
False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [25]:
count1=pokemon.groupby(['Legendary'])['Total'].mean()
count1

Legendary
False    417.213605
True     637.384615
Name: Total, dtype: float64

In [26]:
count2=pokemon.groupby(['Legendary'])['Total'].std()
count2

Legendary
False    106.760417
True      60.937389
Name: Total, dtype: float64

In [23]:
count3=pokemon.groupby(['Legendary'])['Total'].sum()
count3

Legendary
False    306652
True      41430
Name: Total, dtype: int64

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [32]:
from scipy.stats import ttest_ind

ttest_ind(pokemon[pokemon["Legendary"]==True]["Total"], pokemon[pokemon["Legendary"]==False]["Total"], equal_var=False)

#because the 
#ttest_ind(ab['a'], ab['b'], equal_var=True)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

In [34]:
ttest_ind(pokemon[pokemon["Legendary"]==True]["Total"], pokemon[pokemon["Legendary"]==False]["Total"], equal_var=True)

Ttest_indResult(statistic=16.386116965872425, pvalue=3.0952457469652825e-52)

What do you conclude from this test? Write your conclusions below.

In [6]:
# The mean of the two sample of Legendary pokemons are significantly different from eachother.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [65]:
# Your code here:
count4= pokemon.groupby(['Type 1'])['Type 1'].count()
#count5= pokemon.groupby(['Type 2'])['Type 2'].count()
#print(count4)
#print(count5)

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [66]:
count5= pokemon.groupby(['Type 1'])['Total'].mean()
std5= pokemon.groupby(['Type 1'])['Total'].std()

#print(count5)
#print(std5)

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [59]:
ttest_ind(pokemon[pokemon["Type 1"]=='Water']["Total"], 
          pokemon[pokemon["Type 1"]!= 'Water']["Total"], equal_var=True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [10]:
# Your conclusions here:
#the mean of water and non-water pokemons are same.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [68]:
from scipy.stats import ttest_rel
ttest_rel(pokemon['Attack'], pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:
# H0 = 0, means the mean of two series is same. 
# here the p-value is less than 5%, means we reject H0, means the mean of two sample is different.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [69]:
ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:
# here the p-value is more than 5%, means we fail to reject H0, 
# means the mean of two samples is same.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [72]:
from scipy.stats import ttest_1samp    

ttest_1samp(pokemon['Attack']-pokemon['Defense'], 0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [73]:
ttest_1samp(pokemon['Defense']-pokemon['Attack'], 0)

Ttest_1sampResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

In [ ]:
# here the null hypothesis that the difference between the means is zero.
# this p-value show that we reject H0, menas the mean of 2 sample is different.

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [77]:
# here we create a contingency table using pd.crosstab:
#help(pd.crosstab)
contg = pd.crosstab(pokemon['Legendary'], pokemon['Type 1'])
contg

Type 1,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
Legendary,,,,,,,,,,,,,,,,,,
False,69,29,20,40,16,27,47,2,30,67,28,22,96,28,43,40,23,108
True,0,2,12,4,1,0,5,2,2,3,4,2,2,0,14,4,4,4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [ ]:
# Chi-square test of independence of variables in a contingency table.
# This function computes the chi-square statistic and p-value for the hypothesis test 
# of independence of the observed frequencies in the contingency table observed.

In [80]:
from scipy.stats import chi2_contingency

# we define the degree of freedom:
dof = contg.size - sum(contg.shape) + contg.ndim - 1
dof

17

In [83]:
chi2_contingency(contg)

(90.4204913058596,
 5.118547414721704e-12,
 17,
 array([[ 63.39375,  28.48125,  29.4    ,  40.425  ,  15.61875,  24.80625,
          47.775  ,   3.675  ,  29.4    ,  64.3125 ,  29.4    ,  22.05   ,
          90.0375 ,  25.725  ,  52.36875,  40.425  ,  24.80625, 102.9    ],
        [  5.60625,   2.51875,   2.6    ,   3.575  ,   1.38125,   2.19375,
           4.225  ,   0.325  ,   2.6    ,   5.6875 ,   2.6    ,   1.95   ,
           7.9625 ,   2.275  ,   4.63125,   3.575  ,   2.19375,   9.1    ]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# This is a test for the independence of different categories of a population. 
#The test is only meaningful when the dimension of observed is two or more. 
#Applying the test to a one-dimensional table will always result in expected equal 
#to observed and a chi-square statistic equal to 0.

In [ ]:
# H0 = observed frequencies are independence from eachother
#  in this example, we reject H0, means, observed frequencies are not independent 
# from each other (or variables are associated).

In [99]:
# here is a better professional way of doing it:

# to get chi-square value , p-value, degrees of freedom, 
# and expected frequencies using the function 'chi2_contingency'
stat, p, dof, expected = chi2_contingency(contg)

# Determine whether to reject or keep the null hypothesis:
alpha=0.05 # we define this as the level of error

print('significance level = %.3f, p= %.3f'% (alpha, p) )
if p <= alpha:
    print('Variables are associated (reject H0)')
else:
    print('Variables are not associated (fail to reject H0)')

significance level = 0.050, p= 0.000
Variables are associated (reject H0)