##  Imports

In [1]:
import pandas as pd
import requests
import json
import matplotlib
%matplotlib inline

### Challenge 1: 

Get the Bitcoin market value vs USD for last 30 days. For your results, you would like to deliver them both as a DataFrame and then create an appropriate plot.

Hint: start by creating a base_url for the Coingecko API, and then adding the parameters you want by looking at the documentation, which you can find here: https://www.coingecko.com/api/documentations/v3#

Specifically in this example, we are looking at: https://www.coingecko.com/api/documentations/v3#/coins/get_coins__id__market_chart

You want a coin (Bitcoin), vs USD, timeframe of 30 days.

For creating the DataFrame, you can print out all of the keys of your resulting json file, to see which ones you would like to extract as columns! The timestamp for these dataseries is in milliseconds - you can convert it to a convenient format using pd.to_datetime (look into how you can specify the unit here!)

In [70]:
# Your code here:
base = 'https://api.coingecko.com/api/v3/'
url = base + 'coins/bitcoin/market_chart'
param_dict = {'id':'bitcoin', 'vs_currency':'usd', 'days':30}

response = requests.get(url, params=param_dict)
results = response.json()

print(results.keys())

# now create a dataframe and a plot!#

dict_keys(['prices', 'market_caps', 'total_volumes'])

In [71]:
bitcoin = pd.DataFrame(results)

In [72]:
bitcoin1 = pd.DataFrame(bitcoin['prices'])
bitcoin1

                                  prices
0    [1599595752369, 10035.487961581819]
1    [1599599220045, 10004.316333886345]
2    [1599602533874, 10035.279584199028]
3    [1599606258405, 10113.466232225257]
4    [1599609867490, 10134.463666083357]
..                                   ...
716  [1602173379632, 10905.082525549686]
717  [1602176521391, 10923.247265075319]
718  [1602180283163, 10876.165447382018]
719   [1602184116559, 10872.20020145189]
720  [1602184968000, 10874.062837238976]

[721 rows x 1 columns]

In [73]:
bt = pd.DataFrame(bitcoin1['prices'].to_list(), columns=['date', 'price'])

bt['date'] = pd.to_datetime(bt['date'], unit='ms')
bt[0:5]

                     date         price
0 2020-09-08 20:09:12.369  10035.487962
1 2020-09-08 21:07:00.045  10004.316334
2 2020-09-08 22:02:13.874  10035.279584
3 2020-09-08 23:04:18.405  10113.466232
4 2020-09-09 00:04:27.490  10134.463666

### Challenge 2: 

Get the Litecoin market value vs USD for last 30 days. For your results, you would like to deliver them both as a DataFrame and then create an appropriate plot.

In [61]:
base = 'https://api.coingecko.com/api/v3/'
url = base + 'coins/litecoin/market_chart'
param_dict = {'id':'litecoin', 'vs_currency':'usd', 'days':30}

response = requests.get(url, params=param_dict)
results = response.json()

print(results.keys())

dict_keys(['prices', 'market_caps', 'total_volumes'])

In [67]:
litecoin = pd.DataFrame(results)
litecoin
lt = pd.DataFrame(litecoin['market_caps'])
lt

                             market_caps
0    [1599592072976, 3061215400.7889953]
1    [1599595627918, 3062937533.5426764]
2     [1599599240650, 3076412982.053287]
3    [1599602568701, 3080049833.4865932]
4    [1599606136073, 3076159900.6107163]
..                                   ...
716  [1602169771326, 3099940062.3087907]
717  [1602172918128, 3087964717.0738215]
718  [1602176669821, 3102331395.2681503]
719   [1602180144983, 3097701801.356203]
720   [1602183611000, 3087536797.333597]

[721 rows x 1 columns]

In [74]:
lt1 = pd.DataFrame(lt['market_caps'].to_list(), columns=['date', 'price'])

lt1['date'] = pd.to_datetime(bt['date'], unit='ms')
lt1[0:5]

                     date         price
0 2020-09-08 20:09:12.369  3.061215e+09
1 2020-09-08 21:07:00.045  3.062938e+09
2 2020-09-08 22:02:13.874  3.076413e+09
3 2020-09-08 23:04:18.405  3.080050e+09
4 2020-09-09 00:04:27.490  3.076160e+09

### Challenge 3: 

Get historical data for Bitcoin on January 1st, 2020. As a result, you would like to have a Dataframe which contains all of the currencies against which the price is expressed in one column, and the current price (at that date) in a second column.

Hint: you might receive an error message saying "If using all scalar values, you must pass an index". Google it! :)

In [81]:
# Your code here:

### Challenge 3: 

Get the ids of all of the coins listed on Coingecko. Extract the bottom ten IDs in a Dataframe.

In [82]:
# Your code here:

### Bonus Challenge: 

Write a loop that goes through the 10 coins you retrieved in challenge 3, and for each of them collects the market values against USD for the last 30 days. Then create a dataframe which has three columns: 'time', 'price' and 'coin' and combines the data of all these ten coins.

If you're ambitious: create a plot with 10 subplots for all of the series!

In [83]:
# Your code here: