## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
sample_list_1 = random.sample (range(0, 100), k=80)
print(sample_list_1)

[68, 78, 2, 72, 57, 14, 40, 44, 66, 92, 77, 70, 33, 97, 10, 83, 21, 16, 71, 4, 41, 88, 28, 30, 63, 64, 26, 86, 23, 34, 82, 25, 58, 12, 35, 96, 22, 31, 74, 1, 54, 19, 79, 43, 47, 7, 20, 52, 3, 32, 56, 6, 17, 37, 15, 51, 94, 69, 75, 99, 0, 76, 39, 61, 8, 27, 59, 42, 84, 53, 90, 38, 65, 18, 13, 62, 93, 67, 24, 87]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [4]:
set1 = set(sample_list_1)
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [5]:
sample_list_2 = []

for i in range(0, 80):
    sample_list_2.append(random.sample(range(0, 100), k=1))

sample_list_2 = [j for i in sample_list_2 for j in i]

print(sample_list_2)
len(sample_list_2)

[0, 65, 31, 59, 60, 30, 93, 28, 10, 94, 76, 52, 60, 90, 37, 11, 58, 46, 30, 88, 88, 83, 8, 53, 15, 26, 86, 82, 32, 36, 41, 0, 37, 94, 64, 77, 71, 57, 13, 41, 46, 66, 84, 50, 58, 81, 0, 88, 62, 83, 75, 79, 92, 16, 0, 92, 71, 56, 9, 63, 59, 46, 30, 60, 2, 96, 23, 15, 48, 22, 47, 77, 65, 39, 91, 32, 92, 55, 5, 15]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [6]:
set2 = set(sample_list_2)
len(set2)

55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [7]:
set3 = set1 - set2
print(set3)
len(set3)

{1, 3, 4, 6, 7, 12, 14, 17, 18, 19, 20, 21, 24, 25, 27, 33, 34, 35, 38, 40, 42, 43, 44, 51, 54, 61, 67, 68, 69, 70, 72, 74, 78, 87, 97, 99}

36

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [8]:
set4 = set2 - set1
print(set4)
len(set4)

{36, 5, 9, 11, 46, 48, 81, 50, 55, 91, 60}

11

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [9]:
set5 = set1.intersection(set2)
# or we can use this: set5 = set1 & set2
print(set5)
len(set5)

{0, 2, 8, 10, 13, 15, 16, 22, 23, 26, 28, 30, 31, 32, 37, 39, 41, 47, 52, 53, 56, 57, 58, 59, 62, 63, 64, 65, 66, 71, 75, 76, 77, 79, 82, 83, 84, 86, 88, 90, 92, 93, 94, 96}

44

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [10]:
len(set3) + len(set4) + len(set5) * 2 == len(set1) + len(set2)

True

#### Create an empty set called `set6`.

In [11]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [12]:
set6.update(set3, set5)
print(set6)
len(set6)

{0, 1, 2, 3, 4, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 44, 47, 51, 52, 53, 54, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 82, 83, 84, 86, 87, 88, 90, 92, 93, 94, 96, 97, 99}

80

#### Check if `set1` and `set6` are equal.

In [13]:
len(set1) == len(set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [14]:
z = set1.issubset(set2)
print(z)

z1 = set1.issubset(set3)
print(z1)

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [15]:
q = set3.union(set4, set5)
print(q)
len(q)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 86, 87, 88, 90, 91, 92, 93, 94, 96, 97, 99}

91

In [16]:
q1 = set1.union(set2)
print(q1)
len(q1)

len(q) == len(q1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 86, 87, 88, 90, 91, 92, 93, 94, 96, 97, 99}

True

#### Using the `pop` method, remove an element from `set1`.

In [20]:
m = set1.pop() # becuse set has no order and do not take argument.
print(m)

2

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [30]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for n in list_to_remove:
    if n in set1:
        set1.remove(n)

print(set1)

{4, 5, 7, 8, 10, 12, 14, 15, 16, 17, 18, 20, 22, 24, 25, 26, 28, 33, 34, 35, 36, 37, 38, 42, 43, 44, 45, 46, 47, 48, 50, 53, 54, 55, 56, 57, 58, 63, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 83, 84, 85, 87, 88, 90, 92, 93, 95, 96, 97, 98}